<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상세페이지</title>
</head>
<body>
<h1>상세페이지입니다.</h1>
<h3>해당 글의 카테고리</h3>
<li th:text="'카테고리: ' + ${board.category.name}"></li>

<h3>해당 글의 작성자</h3>
<li th:text="'작성자: ' + ${board.member.alias}"></li>

<h3>해당 글의 첨부파일</h3>
<ul th:each="fileInfo : ${board.files}">
    <li th:text="'첨부파일:' + ${fileInfo.storedFileName}"></li>
</ul>

<h3>해당 글의 제목</h3>
<li th:text="'제목: ' + ${board.title}"></li>

<h3>해당 글의 조회수</h3>
<li th:text="'조회수: ' + ${board.readCount}"></li>

<h3>해당 글의 본문 내용</h3>
<li th:text="'본문 내용: ' + ${board.boardBody.content}"></li>

<h3>해당 글의 댓글</h3>
<ul th:each="comment : ${comments}">
    <li th:text="'댓글 작성자 : ' + ${comment.member.alias}"></li>
    <li th:text="'댓글 내용 : ' + ${comment.content}"></li>
    <li th:text="'작성 시간 : ' + ${comment.createdDate}"></li>
</ul>

</body>
</html>